<%- include("header") %>
<div class="user-header">
    <p>Username : <%= user.username %></p>
    <p>Cart Code : XVY76</p>
</div>
<div class="file-tab">
    <p><i class="fa-solid fa-cart-shopping"></i> Shopping Cart</p>
</div>
<div class="shopping-cart">
    <!-- <div class="shopping-cart-scroll"> -->
        <!-- shopping list items enter here -->
        <div class="shopping-cart-only-items">
             <% shoppingCart.forEach(element =>{ %>
                <div class="shopping-cart-item" id="<%= element.name.split(' ')[0] %>">
                    <table class="cart-table">
                        <tr>
                            <td colspan="3">
                                <div>
                                    <h4><%= element.name %></h4>
                                    <p>Price</p>
                                    <p id="quantity">x <%= element.quantity %></p>
                                    <p>₹ <%= element.price %></p>
                                    <hr class="shopping-cart-hr">
                                </div>
                            </td>
                            <!-- <td></td>
                            <td></td> -->
                            <td>
                                <div id="delete-item">
                                    <form action="/deleteShoppingCartItem" method="post">
                                        <input type="hidden" name="deleteItemID" value="<%= element._id %>">
                                        <button type="submit" class="btn btn-lg delete-button"><i class="fa-solid fa-trash"></i></button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                 
             <% }) %>

        </div>         
    <!-- </div> -->
    <div class="cart-results">
        <% var weight =0.0 %>

        <p>Total Weight(g): <span id="total-weight"><% shoppingCart.forEach(element =>{ %>
        
        <% weight += element.weight * element.quantity %>
        <% }) %> 
        <%= weight %><span></p>
        <% var sum =0.0 %>

        <p>Subtotal : <span id="total-price"><% shoppingCart.forEach(element =>{ %>
        
        <% sum += element.price * element.quantity %>
        <% }) %> 
        <%= sum %><span></p>
    </div>
    <button class="btn btn-lg custom-button mt-3">Checkout  <i class="fa-solid fa-arrow-right fa-fade"></i></button>
</div>
<div class="file-tab">
    <p><i class="fa-solid fa-list"></i> Shopping List</p>
</div>
<div class="shopping-list">
    <div class="shopping-list-scroll">
        <!-- shopping list items enter here -->

        <% user.shoppingList.forEach(element =>{ %>
            <div class="shopping-list-item">
                <table>
                    <tr>
                        <td class="shopping-list-td"><form action="/deleteShoppingListItem" method="post"><input type="hidden" name="deleteShoppingListItemID" value="<%= element._id %>"><input type="checkbox" name="deleteShoppingListItem" id="" onchange="this.form.submit()"></form></td>
                        <td class="shopping-list-td"><p class="shopping-list-p"><%= element.shoppingListItem %></p></td>
                    </tr>
                </table>
                <hr class="shopping-list-hr">
            </div>
        <% }) %>
    </div>
        <form action="/addItemToShoppingList" method="post">
            <input type="text" name="shoppingListItem" id="" class="shopping-list-input">
            <button type="submit" class="btn btn-lg"><i class="fa-solid fa-plus fa-fade"></i></button>
        </form>
</div>
<%- include("footer") %>

<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script>
    const socket = io("http://localhost:3000");
    socket.on('databaseUpdate', (change) =>{
        console.log(change);
        const cart = document.querySelector(".shopping-cart-only-items");
        console.log(cart);
        console.log(change.fullDocument.name.split(" ")[0]);
        const item = cart.querySelector(`#${change.fullDocument.name.split(" ")[0]}`);
        if(change.fullDocument.quantity <= 0){
            console.log("yes");
            // deleteButton?.remove();
            item?.remove();
        } else{
            item.querySelector('#quantity').innerHTML = "x " + change.fullDocument.quantity;
        }

    });
    socket.on('databaseInsert', (change) =>{
        console.log(change.fullDocument);
        const element = document.querySelector(".shopping-cart-only-items");
        const innerDiv = document.createElement("div");
        innerDiv.setAttribute("class", "shopping-cart-item");
        innerDiv.setAttribute("id", change.fullDocument.name.split(" ")[0]);
        const table = document.createElement("table");
        table.setAttribute("class", "cart-table");
        const tableRow = document.createElement("tr");
        const tableData1 = document.createElement("td");
        tableData1.setAttribute("colspan", "3");
        // const tableData3 = document.createElement("td");
        // const tableData4 = document.createElement("td");
        const node = document.createElement("div");
        node.setAttribute("id", change.fullDocument.name.split(" ")[0]);
        const name = document.createElement("h4");
        name.innerText = change.fullDocument.name;
        const price = document.createElement("p");
        price.innerText = "Price";
        const quantity = document.createElement("p");
        quantity.setAttribute("id", "quantity");
        quantity.innerText = "x " + change.fullDocument.quantity;
        const hr = document.createElement("hr");
        hr.classList.add("shopping-cart-hr");
        node.appendChild(name);
        node.appendChild(price);
        node.appendChild(quantity);
        node.appendChild(hr);
        tableData1.appendChild(node);
        tableRow.appendChild(tableData1);
        // tableRow.appendChild(tableData3);
        // tableRow.appendChild(tableData4);

        tableData2 = document.createElement("td");
        const deleteButton = document.createElement("div");
        deleteButton.setAttribute("id", "delete-item");
        const deleteForm = document.createElement("form");
        deleteForm.setAttribute('action', '/deleteShoppingCartItem');
        deleteForm.setAttribute('method', 'post');
        const inputButton = document.createElement("input");
        inputButton.setAttribute("type", "hidden");
        inputButton.setAttribute("name", "deleteItemId");
        inputButton.setAttribute("value", change.fullDocument._id);
        const submitButton =  document.createElement("button");
        submitButton.setAttribute("type", "submit");
        submitButton.classList.add("btn");
        submitButton.classList.add("btn-lg");
        submitButton.classList.add("delete-button");
        const i = document.createElement("i");
        i.classList.add("fa-solid");
        i.classList.add("fa-trash");
        submitButton.appendChild(i);
        deleteForm.appendChild(inputButton);
        deleteForm.appendChild(submitButton);
        deleteButton.appendChild(deleteForm);
        tableData2.appendChild(deleteButton);

        tableRow.appendChild(tableData2);
        table.appendChild(tableRow);
        innerDiv.appendChild(table);
        element.appendChild(innerDiv);
    });
</script>