<%- include("header") %>
<div class="user-header">
    <p>Username : <%= user.username %></p>
    <p>Cart Code : XVY76</p>
</div>
<div class="file-tab">
    <p><i class="fa-solid fa-cart-shopping"></i> Shopping Cart</p>
</div>
<div class="shopping-cart">
    <!-- <div class="shopping-cart-scroll"> -->
        <!-- shopping list items enter here -->
        <% user.shoppingList.forEach(element =>{ %>
            <div class="shopping-cart-item">
                <h4>Product Name</h4>
                <p>Price</p>
                <p>Quantity</p>
                <hr class="shopping-cart-hr">
            </div>
        <% }) %>
    <!-- </div> -->
    <div class="cart-results">
        <p id="total-weight">Total Weight(kg) : 4.690</p>
        <p>Subtotal : 5000</p>
    </div>
    <button class="btn btn-lg custom-button mt-3">Checkout  <i class="fa-solid fa-arrow-right fa-fade"></i></button>
</div>
<div class="file-tab">
    <p><i class="fa-solid fa-list"></i> Shopping List</p>
</div>
<div class="shopping-list">
    <div class="shopping-list-scroll">
        <!-- shopping list items enter here -->
        <% user.shoppingList.forEach(element =>{ %>
            <div class="shopping-list-item">
                <table>
                    <tr>
                        <td><form action="/deleteShoppingListItem" method="post"><input type="hidden" name="deleteShoppingListItemID" value="<%= element._id %>"><input type="checkbox" name="deleteShoppingListItem" id="" onchange="this.form.submit()"></form></td>
                        <td><p class="shopping-list-p"><%= element.shoppingListItem %></p></td>
                    </tr>
                </table>
                <hr class="shopping-list-hr">
            </div>
        <% }) %>
    </div>
        <form action="/addItemToShoppingList" method="post">
            <input type="text" name="shoppingListItem" id="" class="shopping-list-input">
            <button type="submit" class="btn btn-lg"><i class="fa-solid fa-plus fa-fade"></i></button>
        </form>
</div>
<%- include("footer") %>