<%- include("header") %>
<div class="user-header">
    <p>Username : <%= user.username %></p>
    <p>Cart Code : XVY76</p>
</div>
<div class="file-tab">
    <p><i class="fa-solid fa-cart-shopping"></i> Shopping Cart</p>
</div>
<div class="shopping-cart">
    <!-- <div class="shopping-cart-scroll"> -->
        <!-- shopping list items enter here -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-10">
                        <div class="shopping-cart-item" id="shopping-cart-item">
                            <% shoppingCart.forEach(element =>{ %>
                            <div id="<%= element.name.split(' ')[0] %>">
                                <h4><%= element.name %></h4>
                                <p>Price</p>
                                <p id="quantity"><%= element.quantity %></p>
                                <hr class="shopping-cart-hr">
                            </div>
                            <% }) %>
                        </div>
                    </div>
                    <div class="col-2" style="display: flex; justify-content: center;" id="delete-item">
                        <% shoppingCart.forEach(element =>{ %>
                        <form action="/deleteShoppingCartItem" method="post" id="<%= element.name.split(' ')[0] %>">
                            <input type="hidden" name="deleteItemID" value="<%= element._id %>">
                            <button type="submit" class="btn btn-lg delete-button"><i class="fa-solid fa-trash"></i></button>
                        </form>
                        <% }) %>
                    </div>
                </div>
            </div>
    <!-- </div> -->
    <div class="cart-results">
        <p id="total-weight">Total Weight(kg) : 4.690</p>
        <p>Subtotal : 5000</p>
    </div>
    <button class="btn btn-lg custom-button mt-3">Checkout  <i class="fa-solid fa-arrow-right fa-fade"></i></button>
</div>
<div class="file-tab">
    <p><i class="fa-solid fa-list"></i> Shopping List</p>
</div>
<div class="shopping-list">
    <div class="shopping-list-scroll">
        <!-- shopping list items enter here -->
        <% user.shoppingList.forEach(element =>{ %>
            <div class="shopping-list-item">
                <table>
                    <tr>
                        <td><form action="/deleteShoppingListItem" method="post"><input type="hidden" name="deleteShoppingListItemID" value="<%= element._id %>"><input type="checkbox" name="deleteShoppingListItem" id="" onchange="this.form.submit()"></form></td>
                        <td><p class="shopping-list-p"><%= element.shoppingListItem %></p></td>
                    </tr>
                </table>
                <hr class="shopping-list-hr">
            </div>
        <% }) %>
    </div>
        <form action="/addItemToShoppingList" method="post">
            <input type="text" name="shoppingListItem" id="" class="shopping-list-input">
            <button type="submit" class="btn btn-lg"><i class="fa-solid fa-plus fa-fade"></i></button>
        </form>
</div>
<%- include("footer") %>

<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script>
    const socket = io("http://localhost:3000");
    socket.on('databaseUpdate', (change) =>{
        console.log(change);
        const cart = document.getElementById("shopping-cart-item")
        const item = cart.querySelector(`#${change.fullDocument.name.split(" ")[0]}`);
        const deleteButtons = document.getElementById("delete-item")
        const deleteButton = deleteButtons.querySelector(`#${change.fullDocument.name.split(" ")[0]}`);
        if(change.fullDocument.quantity <= 0){
            console.log("yes");
            deleteButton?.remove();
            item?.remove();
        } else{
            item.querySelector('#quantity').innerText = change.fullDocument.quantity;
        }

    })
    socket.on('databaseInsert', (change) =>{
        console.log(change.fullDocument);
        const element = document.getElementById("shopping-cart-item");
        const node = document.createElement("div");
        node.setAttribute("id", change.fullDocument.name.split(" ")[0]);
        const name = document.createElement("h4");
        name.innerText = change.fullDocument.name;
        const price = document.createElement("p");
        price.innerText = "Price";
        const quantity = document.createElement("p");
        quantity.setAttribute("id", "quantity");
        quantity.innerText = change.fullDocument.quantity;
        const hr = document.createElement("hr");
        hr.classList.add("shopping-cart-hr");
        node.appendChild(name);
        node.appendChild(price);
        node.appendChild(quantity);
        node.appendChild(hr);
        element.appendChild(node);

        const deleteButton = document.getElementById("delete-item");
        const deleteForm = document.createElement("form");
        deleteForm.setAttribute('action', '/deleteShoppingCartItem');
        deleteForm.setAttribute('method', 'post');
        const inputButton = document.createElement("input");
        inputButton.setAttribute("type", "hidden");
        inputButton.setAttribute("name", "deleteItemId");
        inputButton.setAttribute("value", change.fullDocument._id);
        const submitButton =  document.createElement("button");
        submitButton.setAttribute("type", "submit");
        submitButton.classList.add("btn");
        submitButton.classList.add("btn-lg");
        submitButton.classList.add("delete-button");
        const i = document.createElement("i");
        i.classList.add("fa-solid");
        i.classList.add("fa-trash");
        submitButton.appendChild(i);
        deleteForm.appendChild(inputButton);
        deleteForm.appendChild(submitButton);
        deleteButton.appendChild(deleteForm);
    })
</script>